<div class="product">
  <app-image
    [image]="image"
  >

  </app-image>
  <div class="product__stocks">
    <span class="product__stock" *ngIf="product.sale">Sale</span>
  </div>
  <h2 class="product__title">{{product.title}}</h2>
  <div class="product__prices">
    <h3 class="product__price" [ngClass]="{sale: product.sale}" >{{product.price}} $</h3>
    <h3 class="product__price" [ngClass]="{main: product.sale}" *ngIf="product.sale">{{product.sale}} $</h3>
  </div>
  <div class="product__buttons">
    <button (click)="addToCart()"> в корзину</button>
    <button (click)="toProduct()"> Подробнее </button>
  </div>
</div>
