<div class="order">
  <div class="container">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()"  class="order__form">
      <div class="order__form__part part-one">
        <h2 class="order__form__part__title">
          1.Способ получения
        </h2>
        <label for="city" class="xl-big">
          Населённый пункт *
          <input type="text" id="city" name="city" formControlName="city">
          <div class="error" *ngIf="orderForm.controls['city'].errors?.pattern">
            Название населённого пункта должно состоять из русских букв
          </div>
          <div class="error" *ngIf="orderForm.controls['city'].errors?.required">
            Поле Населённый пункт не должно быть пустым
          </div>
        </label>
        <label for="street" class="xl-big">
          Улица *
          <input type="text" id="street" name="street" formControlName="street">
          <div class="error" *ngIf="orderForm.controls['street'].errors?.pattern">
            Название улицы должно состоять из русских букв
          </div>
          <div class="error" *ngIf="orderForm.controls['street'].errors?.required">
            Поле Улица не должно быть пустым
          </div>
        </label>
        <label for="house" class="medium">
          Дом *
          <input type="number" id="house" name="house" formControlName="house">
          <div class="error" *ngIf="orderForm.controls['house'].errors?.min">
            Минимальный номер дома 1
          </div>
          <div class="error" *ngIf="orderForm.controls['house'].errors?.max">
            Максимальный номер дома 999
          </div>
          <div class="error" *ngIf="orderForm.controls['house'].errors?.required">
            Поле Дом не должно быть пустым
          </div>
        </label>
        <label for="corps" class="medium">
          Корпус
          <input type="number" id="corps" name="corps" formControlName="corps">
          <div class="error" *ngIf="orderForm.controls['corps'].errors?.min">
            Минимальный номер корпуса 1
          </div>
          <div class="error" *ngIf="orderForm.controls['corps'].errors?.max">
            Максимальный номер корпуса 36
          </div>
        </label>
        <label for="entrance" class="medium">
         Подъезд
          <input type="number" id="entrance" name="entrance" formControlName="entrance">
          <div class="error" *ngIf="orderForm.controls['entrance'].errors?.min">
            Минимальный номер подъезда 1
          </div>
          <div class="error" *ngIf="orderForm.controls['entrance'].errors?.max">
            Максимальный номер подъезда 36
          </div>
        </label>
        <label for="floor" class="medium">
          Этаж *
          <input type="number" id="floor" name="floor" formControlName="floor">
          <div class="error" *ngIf="orderForm.controls['floor'].errors?.min">
            Минимальный номер этажа 1
          </div>
          <div class="error" *ngIf="orderForm.controls['floor'].errors?.max">
            Максимальный номер этажа 200
          </div>
          <div class="error" *ngIf="orderForm.controls['floor'].errors?.required">
            Поле Этаж не должно быть пустым
          </div>
        </label>
        <label for="flat" class="medium">
          Квартира *
          <input type="number" id="flat" name="flat" formControlName="flat" min="1" max="999" maxlength="3">
          <div class="error" *ngIf="orderForm.controls['flat'].errors?.min">
            Минимальный номер квартиры 1
          </div>
          <div class="error" *ngIf="orderForm.controls['flat'].errors?.max">
            Максимальный номер квартиры 999
          </div>
          <div class="error" *ngIf="orderForm.controls['flat'].errors?.required">
            Поле Квартира не должно быть пустым
          </div>
        </label>
        <label for="message" class="xl-big">
         Комментарий к заказу
          <textarea  id="message" name="message" formControlName="message" ></textarea>
         <div class="error" *ngIf="isControlInvalid('message')">
           Максимальная длина сообщения 2048 символов
         </div>
        </label>
        <h3 class="order__form__part__subtitle">Контактные данные</h3>
        <label for="name" class="medium">
         Имя *
          <input  id="name" name="name" formControlName="name" >
          <div class="error" *ngIf="orderForm.controls['name'].errors?.pattern">
            Ваше имя должно состоять из русских букв
          </div>
          <div class="error" *ngIf="orderForm.controls['name'].errors?.required">
            Поле Имя не должно быть пустым
          </div>
        </label>
        <label for="surname" class="medium">
          Фамилия *
          <input  id="surname" name="surname" formControlName="surname" >
          <div class="error" *ngIf="orderForm.controls['surname'].errors?.pattern">
            Ваша фамилия должна состоять из русских букв
          </div>
          <div class="error" *ngIf="orderForm.controls['surname'].errors?.required">
            Поле Фамилия не должно быть пустым
          </div>
        </label>
        <label for="email" class="medium">
          Email *
          <input  id="email" name="email" formControlName="email" >
          <div class="error" *ngIf="orderForm.controls['email'].errors?.email">
            Проверьте правильность вашей почты пример:  test@mail.ru
          </div>
          <div class="error" *ngIf="orderForm.controls['email'].errors?.required">
            Поле Email не должно быть пустым
          </div>
        </label>
        <label for="phone" class="medium">
          Телефон *
          <input  type="text" id="phone" name="phone" formControlName="phone">
          <div class="error" *ngIf="orderForm.controls['phone'].errors?.pattern">
            Проверьте правильность вашего телефона пример:  +375251234567 или +375 25 123 45 67
          </div>
          <div class="error" *ngIf="orderForm.controls['phone'].errors?.required">
            Поле телефон не должно быть пустым
          </div>

        </label>
      </div>

        <button type="submit">Оформить заказ</button>
    </form>
    <div class="order-cart">
      <div class="order-cart__header">
        <h2 class="order-cart__header__title">Заказ</h2>
        <a   routerLink="/catalog" class="order-cart__header__link">Изменить</a>
      </div>
      <div class="order-cart__products">
        <ng-container *ngFor="let item of cartItems">
          <div class="order-cart__product">
            <div class="order-cart__product__info">
              <h2 class="order-cart__product__title">{{item.title}}</h2>
              <div class="order-cart__product__prices">
                <h3 class="order-cart__product__price" [ngClass]="{sale: item.sale}" >{{item.price}} $</h3>
                <h3 class="order-cart__product__price" [ngClass]="{main: item.sale}" *ngIf="item.sale">{{item.sale}} $</h3>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="order-cart__footer">
        <h2>Доставка: {{transfer}} $</h2>
        <h2 class="order-cart__total">Итого: {{total}} $</h2>
      </div>
    </div>
  </div>
</div>
