<app-header>

</app-header>
<a routerLink="/home">Go Home</a>
<button (click)="navigate()"></button>
<app-product-form>

</app-product-form>

<router-outlet>

</router-outlet>
<!--<app-main>-->

<!--</app-main>-->

<app-footer>

</app-footer>



<!--<button  (click)="addObject()">-->
<!--  Add-->
<!--</button>-->

<!--<button (click)="logout()"  *ngIf="authService.user$">Logout ({{(authService.user$ )}})</button>-->

<!--<button  (click)="login()" *ngIf="!authService.user$">-->
<!--  login-->

<!--</button>-->


<!--<button  (click)="createObject()">-->
<!--  Check-->
<!--</button>-->
<!--<button  (click)="updateObject()">-->
<!--  Update-->
<!--</button>-->
<!--<button  (click)="deleteObject()">-->
<!--  Delete-->

<!--</button>-->

