<div class="orders">
  <div class="orders__wrapper" *ngIf="!loading; else alternative">
    <h2 class="orders__title">Your Orders</h2>
    <ng-container *ngFor="let order of ordersList">
      <div class="orders__item">
        <h2 class="orders__item__date">{{order.date}}</h2>
        <a routerLink="/account/view-order/{{order.id}}" class="orders__item__number">№{{order.id}}</a>
        <p class="orders__item__comment">
          {{order.message}}
        </p>
        <h2 class="orders__item__price">{{order.total}} $</h2>
        <a routerLink="/account/view-order/{{order.id}}" class="orders__item__info">More Info</a>
      </div>
    </ng-container>
  </div>
  <ng-template #alternative>
    <p>No Orders, <a routerLink="/catalog" href="#">Buy something</a></p>
  </ng-template>
</div>
