<div class="header__panel">
  <div class="container">
    <div class="header__panel__item">
      <div class="header__panel__item__wishlist header__wishlist">
        <app-wishlist
          [link]="wishlistLink"
          [icon]="wishlistIcon"
          [count]="wishlistCount"
          routerLink="/account/wishlist"
          (click)="open($event)"
        >
        </app-wishlist>
      </div>
      <div class="header__panel__item__account header__account">
          <app-icon-link
            *ngIf="!(storeService.user); else hide"
            [link]="loginLink"
            [icon]="loginIcon"
            (click)="login($event)"
          >
          </app-icon-link>

        <ng-template #hide>
          <app-icon-link

            [link]="logoutLink"
            [icon]="loginIcon"
            (click)="logout($event)"
          >
          </app-icon-link>
        </ng-template>

      </div>
    </div>
  </div>
</div>
