/* You can add global styles to this file, and also import other style files */


/* Очистка базовых стилей браузера */
*{padding: 0;margin: 0;border: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
*,*:before,*:after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{overflow-x: hidden;height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 16px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%; height: auto;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* Общие классы */
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.link--hover--big{
  text-transform: uppercase;
  &:hover{
    color:#67c434;
  }
}
.modal{
  &.hidden{
    visibility: hidden;
  }
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17,17,17,0.7);
  display: flex;
  justify-content: flex-end;
}
/* Шапка */
header{
  position: relative;

  .header__panel{
    background-color: #fafafa;
    padding: 15px 0;
    .container{
      display: flex;
      justify-content: flex-end;
    }
    &__item{
      display: flex;
      justify-content: space-between;
      width: 300px;
      align-items: center;
      &__wishlist{
        a{
          color:#959595;
          min-width: 130px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          font-family: 'Roboto', sans-serif;
          &:hover{
            color:#67c434;
            span{
              color:#67c434;
            }
          }
          span{
            color:#e1e1e1;
            margin-left: 3px;
          }
        }
      }
      &__account{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .account{
          &__login{
            min-width: 75px;
            color:#959595;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            &:hover{
              color:#67c434;
              span{
                color:#67c434;
              }
            }
          }
        }
      }
    }
  }
  .header__navigation{
    padding: 50px 0;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo{
      max-width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav{
      display: flex;
      @media screen and (max-width: 768.01px){
       min-width: 150px;
        justify-content: flex-end;
      }
      justify-content: space-between;
      align-items: center;
      min-width: 400px;
      max-width: 700px;
      position: relative;

      .modal-burger{
        max-width: 320px;
        position: absolute;
        width: 100%;
        min-height: 150px;
        max-height: 200px;
        background-color: #171717;
        top:50px;
        left: initial;
        right:0;
        transition: 0.7s;
        &.hidden{
          transition: 0.7s;
         right: -150px;
        }
        &__menu{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          max-width: 300px;;
         .header__menu__item{
           display: flex;
           justify-content: center;
           align-items: center;
           width: 100%;
           .header__menu__link{
             color:white;
           }
         }
        }
      }
      .modal-cart{

        &__content{
          height: 100%;
          width: 35%;
          overflow-y: auto;
          .modal-cart__title{
            text-align: center;
            margin: 15px 0;
            font-size: 28px;
            text-transform: uppercase;
          }
          @media screen and (max-width: 960px) {
            width: 320px;
          }

          display: flex;
          position: relative;
          padding-top: 30px;
          flex-direction: column;
          align-items: center;
          .modal-cart__products{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .modal-cart__product{
              display: flex;

              @media screen and (max-width: 750px){
                flex-direction: column;
              }
              justify-content: space-between;
              padding: 10px;
              align-items: center;
              position: relative;
              &__title{
                font-size: 24px;
                color:#171717;
                text-transform: uppercase;
                margin-bottom: 15px;
              }
              &__info{
                width: 50%;
              }
              &__image{
                width: 40%;
                @media screen and (max-width: 750px){
                  margin: 15px 0;
                  width: 75%;
                }
              }
              &__prices{
               display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-bottom: 15px;
              }
              &__button{
                color:#171717;
                text-transform: uppercase;
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 16px;
                background-color: transparent;
              }
              &__price{
                margin-right: 15px;
                font-size: 18px;
                text-transform: uppercase;
                color:black;
                &.sale{
                  text-decoration: line-through;
                  color:#dedede;
                  font-size: 18px;
                }
                &.main{
                  color:#e5493a;
                  font-size: 22px;
                }
              }
            }
          }
          background-color: white;
          z-index: 4;
          .modal-close{
            background-color: transparent;
            font-size: 24px;
            text-transform: uppercase;
            position: absolute;
            top:0px;
            right: 20px;
          }
        }
      }
      .cart__link{
        margin-left: 30px;
        padding:20px 10px ;
      }
      .cart-circle{
        width: 16px;
        font-size: 12px;
        border-radius: 50%;
        background-color: #e5493a;
        color:white;
        position: absolute;
        right:0px;
        top:0px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .header__menu{
        width: 100%;
        height: 100%;
        display: flex;
        @media screen and (max-width: 768.01px){
          width: auto;
        }
        .menu-open{
          display: none;
          background-color: transparent;
          font-size: 24px;
          @media screen and (max-width: 768.01px){
           display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        justify-content: space-between;
        align-items: center;
        &__item{
          display: flex;
          @media screen and (max-width: 768.01px){
            display: none;
          }
          justify-content: center;
          align-items: center;
          height: inherit;
          app-link.active{
            a{
              color:#e5493a;
              &:before{
                content: '';
                width: 8px;
                height: 2px;
                background-color: #e5493a;
                position: absolute;
                top:0;
                left:0;
              }
            }
          }
        }
        &__link{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          cursor: pointer;
          padding: 10px 0;
          color:#7a7a7a;
          text-transform: uppercase;
          position: relative;
          &.active{
            color:#e5493a;
            &:before{
              content: '';
              width: 8px;
              height: 2px;
              background-color: #e5493a;
              position: absolute;
              top:0;
              left:0;
            }
          }
          &:hover{
            color:#e5493a;
            &:before{
              content: '';
              width: 8px;
              height: 2px;
              background-color: #e5493a;
              position: absolute;
              top:0;
              left:0;
            }
          }

        }
      }
    }
  }

}

/* Контентная часть */

.content{
  min-height: 674px;
  .content-banner{
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .home-slider{
      width: 100%;
      user-select: none ;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      @media screen and (max-width:900.01px){
        display: none;
      }
      overflow: hidden;
      position: relative;
      &__wrapper{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
      }
      &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width:900px;
        max-width: 900px;
        position: relative;
        &__title{
          position: absolute;
          left: 0;
          right: 0;
          margin-bottom: 20px;
          text-align: center;
          font-size: 28px;
          text-transform: uppercase;
          bottom: 0;
        }
      }
      .slider__arrow{
        position: absolute;
        display: flex;
        z-index: 2;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        top:50%;
        transform: translate(0%,-50%);
        right:20px;
        &.arrow--left{
          left:20px;
          right: initial;
          transform: translate(0, -50%);
        }
      }
    }
  }

}
.title{
  margin-top: 75px;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  app-view-products{
    width: 45%;
  }
  app-product-item{
    width: 350px;
    padding: 0px 10px;
  }
  .product{
    margin: 30px 0;
    width: 100%;
    padding: 20px 0px;
    transition: 0.3s all;
    display: flex;
    position: relative;
    .product__stocks{
      display: none;
      position: absolute;
      top:40px;
      left:0;
      .product__stock{
        line-height: 2;
        text-align: center;
        padding: 0px 10px;
        color:white;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #f7941d;
      }
    }
    &:hover{
      transition: 0.3s all;
      .product__stocks{
        display: block;
      }
      .product__title{
        color:#e5493a;
      }
      .product__price{
        color: #e5493a;
      }
    }
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    &__buttons{
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button{
        font-size: 18px;
        line-height: 1;
        padding: 7.5px 15px;
        text-transform: uppercase;
        outline: none;
        background-color: transparent;
        border:2px solid black;
        transition: 0.3s all;
        &:hover{
          transition: 0.3s all;
          background-color: #8dc63f;
          color:white;
          border-color: #8dc63f;
        }
      }
    }
    app-image{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      img{
        object-fit: cover;
        height: 300px;
      }
    }
    &__title{
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
    }
    &__prices{
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .product__price{
        font-size: 22px;
        text-transform: uppercase;
        color:black;
        margin-top: 20px;
        &.sale{
          text-decoration: line-through;
          color:#dedede;
          font-size: 18px;
        }
        &.main{
          color:#e5493a;
          font-size: 24px;
        }
      }
    }

  }

}
.catalog{
  min-height: 1000px;
}
/*Одиночная страница товара*/






/*Одиночная страница товара*/
/*Форма создания товара */
.product-form{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .product-form__item{
      width: 48%;
    }
    #create-product{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      label{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        width: 45%;
        input{
          margin-top: 10px;
          width: 100%;
          border:1px solid black;
          font-size: 18px;
          padding: 10px 10px;
        }
      }
      input.ng-touched.ng-invalid{
        border-color: red;
      }

      .error{
        color: red;
      }
      button{
        min-width: 150px;
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 30px;
        background-color: transparent;
        border:1px solid black;
      }
    }
  }
}


/* Форма создания товара  */
/*  Подвал */
footer{
  .footer__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #111111;
    width: 100%;
    &__title{
      color:#959595;
    }
    &__link{
      color:#e5493a;
    }
  }
}


/* Анимация и переходы */

.fade {
  animation-name: fade;
  animation-duration: 2.4s;
  animation-name: fade;
  animation-duration: 2.4s;
  transition: 0.5s margin;
}
@keyframes fade {
  from {
    opacity: 0.6;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
